@font-face {
    font-family: 'Roboto400';
    src: url(../font/Roboto400.ttf);
}

@font-face {
    font-family: 'Roboto500';
    src: url(../font/Roboto500.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #F5F5F5;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.section-main {
    width: 100%;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.header {
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-menu {
    margin-right: 13px;
    display: none;
}

.header-line {
    width: 1px;
    height: 38px;
    opacity: 0.3;
    background-color: #979797;
    margin-left: 16px;
    margin-right: 14px;
}

.header-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Roboto400';
    color: #000000;
    cursor: pointer;
    transition: .5s;
}

.header-text:hover {
    color: dodgerblue;
    transition: .5s;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar-ul {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 28px;
}

.nav-link {
    font-family: 'Roboto500';
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #173047;
    cursor: pointer;
    transition: .5s;
}

.nav-link:hover {
    color: dodgerblue;
    transition: .5s;
}

.nav-link:active {
    border-bottom: 1px solid dodgerblue;
}

.header-user {
    width: 188px;
    height: 44px;
    border: 1px solid #d8d8da;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.header-user:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.fa-user {
    opacity: 0.3;
}

.header-last-text {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    font-family: 'Roboto500';
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #173047;
}

.main {
    margin-left: 310px;
}

.main-title-text {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 32px;
}

.main-title-text>*:hover {
    color: blue;
    transition: .5s;
}

.main-title {
    font-family: 'Roboto400';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.2px;
    color: #3CC8AE;
    margin-left: 12px;
    transition: .5s;
}

.fa-arrow-left {
    color: #3CC8AE;
    transition: .5s;
}

.main-img {
    width: 820px;
    height: 366px;
    border-radius: 6px;
    margin-bottom: 36px;
}

.main-text-p1 {
    margin-bottom: 24px;
    font-family: 'Roboto500';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #152739;
    opacity: 0.4;
}

.main-title-h1 {
    margin-bottom: 33px;
    font-family: 'Roboto500';
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1px;
    color: #152739;
}

.main-icon-group {
    width: 370px;
    height: 65px;
    background: #FFFFFF;
    box-shadow: 0px 7px 24px rgba(48, 56, 64, 0.16);
    border-radius: 6px;
    margin-bottom: 31px;
}

.main-icon-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-line {
    width: 1px;
    height: 65px;
    background: #D8D8D8;
    opacity: 0.5;
}

.icon-text-p1 {
    font-family: 'Roboto400';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.15px;
    color: #000000;
    opacity: 0.5;
}

.icon-text-p2 {
    font-family: 'Roboto500';
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.2px;
    color: #152739;
}

.brend-icon {
    padding: 10px 10px;
    background-color: dodgerblue;
    border-radius: 6px;
    color: white;
}

.section-text {
    width: 100%;
    font-family: 'Roboto400';
}

.text-groups {
    margin-left: 310px;
}

.text-p1 {
    margin-bottom: 40px;
}

.text-h21 {
    margin-bottom: 17px;
    font-family: 'Roboto500';
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.5px;
    color: #152739;
}

.text-p2 {
    font-family: 'Roboto400';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0.8;
    margin-bottom: 40px;
}

.text-p3 {
    font-family: 'Roboto400';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0.8;
    margin-bottom: 24px;
}

.text-img {
    width: 814px;
    height: 366px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.text-p4 {
    margin-bottom: 40px;
    font-family: 'Roboto400';
    font-size: 15px;
    line-height: 18px;
    margin-left: 264px;
    color: #000000;
    opacity: 0.3;
}

.form-content {
    width: 820px;
    height: 221px;
    background: linear-gradient(180deg, #F7F8FA 0%, #EDF1F5 100%);
    margin-left: 310px;
    margin-bottom: 40px;
}



.form-text {
    font-family: 'Roboto400';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #152739;
    opacity: 0.8;
    margin-left: 36px;
    margin-bottom: 23px;
}

.form-input {
    width: 431px;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid #D4D8DF;
    border-radius: 3px;
    margin-left: 36px;
    margin-right: 16px;
    padding-left: 24px;
    font-family: 'Roboto400';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.2px;
    color: #152739;
    opacity: 0.6;
}

.form-btn {
    width: 159px;
    height: 52px;
    background: #3CC8AE;
    box-shadow: 0px 22px 34px rgba(60, 200, 174, 0.5);
    border-radius: 3px;
    border: transparent;
    font-family: 'Roboto500';
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    transition: .5s;
}

.form-btn:hover {
    background-color: white;
    color: black;
    transition: .5s;
}

.cards {
    margin-left: 310px;
}

.card-icon-group {
    display: flex;
    margin-bottom: 64px;
}

.card-line {
    width: 820px;
    height: 1px;
    background: #D8D8D8;
    margin-bottom: 24px;
}

.icon-group-text {
    font-family: 'Roboto500';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #152739;
    opacity: 0.4;
    margin-left: 217px;
}

.cart {
    width: 100%;
    height: 591px;
    background: linear-gradient(180deg, #F7F8FA 0%, #EDF1F5 100%);
}

.cart-title {
    margin-bottom: 32px;
    font-family: 'Roboto500';
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1px;
    color: #152739;
    margin-left: 120px;
    padding-top: 48px;
}

.cart-group {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    justify-content: space-between;
}

.cart-p1 {
    padding-top: 19px;
    margin-bottom: 10px;
    font-family: 'Roboto500';
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #152739;
    opacity: 0.4;
}

.cart-p2 {
    margin-bottom: 14px;
    font-family: 'Roboto500';
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.403846px;
    color: #000000;
}

.cart-p3 {
    font-family: 'Roboto500';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.2px;
    color: #3CC8AE;
    transition: .5s;
}

.cart-p3:hover {
    color: blue;
    cursor: pointer;
    transition: .5s;
}

footer {
    width: 100%;
    height: 495px;
    background: #132739;
}

.footer-header-group {
    display: flex;
    align-items: center;
    margin-left: 273px;
    margin-right: 271px;
    padding-top: 25px;
    justify-content: space-between;
    margin-bottom: 24px;
}

.footer-img1 {
    display: flex;
    align-items: center;
}

.footer-header-text {
    margin-left: 16px;
    font-family: 'Roboto500';
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    opacity: 0.75;
}

.footer-line {
    width: 1200px;
    height: 1px;
    background: #FFFFFF;
    opacity: 0.2;
    margin-left: 120px;
    margin-bottom: 35px;
}

.footer-text-group {
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 39px;
}

.footer-li {
    font-family: 'Roboto400';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.1875px;
    color: #FFFFFF;
    padding-top: 19px;
}

.footer-text-title {
    font-family: 'Roboto500';
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.403846px;
    color: #FFFFFF;
}

.form {
    display: flex;
    align-items: center;
}

.footer-input {
    width: 240px;
    height: 48px;
    opacity: 0.3;
    border: 1px solid #FFFFFF;
    border-radius: 6px 0px 0px 6px;
    padding-left: 16px;

    font-family: 'Roboto400';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.175px;
    color: #FFFFFF;
    opacity: 0.6;
}

.footer-btn {
    width: 155px;
    height: 48px;
    background: #3CC8AE;
    background: #3CC8AE;
    box-shadow: 0px 22px 34px rgba(60, 200, 174, 0.5);
    border-radius: 0px 6px 6px 0px;
    cursor: pointer;

    font-family: 'Roboto500';
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1.29231px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

span {
    font-family: 'Roboto400';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.1875px;
    color: #FFFFFF;
    opacity: 0.8;
}

.footer-bra {
    margin-right: 22px;
    background: #7f7d7d;
    border: 1px solid #6b6969;
    border-radius: 6px;
    color: black;
}

.footer-last-text-group {
    width: 100%;
    height: 135px;
    background: #0F1B25;
}

.footer-last-p1 {
    padding-top: 33px;
    font-family: 'Roboto400';
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.1625px;
    color: #FFFFFF;
    opacity: 0.4;
}


@media (max-width:571px) {

    .container {
        width: 375px;
        margin: 0 auto;
    }

    .header {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .header-text {
        display: none;
    }

    .header-menu {
        display: block;
    }

    .header-line {
        display: none;
    }

    .navbar-ul {
        display: none;
    }

    .header-user {
        width: 158px;
        height: 37px;
        background: #3CC8AE;
        box-shadow: 0px 12px 24px rgba(60, 200, 174, 0.5);
        border-radius: 3px;
        text-align: center;
        color: #FFFFFF;
    }

    .main {
        margin-left: 20px;
    }

    .main-title {
        font-size: 15px;
    }

    .main-img {
        width: 336px;
        height: 188px;
        border-radius: 6px;
        margin-bottom: 36px;
    }

    .main-title-h1 {
        margin-bottom: 33px;
        font-family: 'Roboto500';
        font-weight: 500;
        color: #152739;
        font-size: 23px;
        line-height: 32px;
        letter-spacing: -0.638889px;
    }

    .main-icon-group {
        width: 375px;
        height: 65px;
        margin-bottom: 36px;
        margin-left: -10px;
    }

    .text-groups {
        margin-left: 20px;
    }

    .text-p1 {
        margin-bottom: 32px;
        width: 335px;
        font-family: 'Roboto400';
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #000000;
        opacity: 0.8;
    }

    .text-h21 {
        margin-bottom: 12px;
        font-family: 'Roboto500';
        font-weight: 500;
        font-size: 23px;
        line-height: 32px;
        letter-spacing: -0.638889px;
        color: #152739;
    }

    .text-p2 {
        width: 335px;
        margin-bottom: 32px;
    }

    .text-h2 {
        width: 335px;
        margin-bottom: 12px;

    }

    .text-p3 {
        width: 335px;
    }

    .text-img {
        width: 335px;
        height: 188px;
    }

    .text-p4 {
        text-align: center;
        margin-bottom: 20px;
        margin-left: 0;
    }

    .form-content {
        width: 375px;
        margin-left: 0px;

    }

    .form-title {
        margin-left: 20px;
        padding-top: 32px;
        margin-bottom: 8px;
        font-size: 23px;
        font-family: 'Roboto500';
    }

    .form-input {
        width: 335px;
        height: 52px;
        margin-bottom: 16px;
        margin-left: 20px;
    }

    .form-btn {
        width: 335px;
        height: 52px;
        margin-left: 20px;
        margin-bottom: 32px;
    }

    .icon-group-text {
        display: none;
    }

    .card-line {
        display: none;
    }

    .cards {
        margin-left: 20px;
        padding-top: 32px;
    }

    .card-icon-group {
        display: flex;
        margin-bottom: 64px;
    }

    .cart-title {
        font-size: 23px;
        line-height: 32px;
        padding-top: 36px;
        margin-left: 20px;
    }

    .cart-group {
        display: block;
        width: 336px;
        margin-left: 20px;
    }

    .cart-group {
        margin-bottom: 35px;
    }

    footer {
        width: 100%px;
        height: auto;
        background: #132739;
        margin-top: 900px;
    }

    .footer-header-group {
        display: block;
        margin-left: 20px;
    }

    .footer-img1 {
        width: 335px;
        display: flex;
        align-items: center;
        margin-bottom: 28px;
    }

    .footer-line {
        width: 335px;
        height: 1px;
        background: #FFFFFF;
        opacity: 0.2;
        margin-bottom: 48px;
        margin-left: 20px;
    }

    .footer-text-group {
        width: 335px;
        display: block;
        margin-left: 20px;
        margin-right: 0px;
    }
    .footer-ul{
        margin-bottom: 20px;
    }
}
